{
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:import/errors"],
  "plugins": [
    "react",
    "jest"
  ],
  "settings": {
    "react": {
      "createClass": "createReactClass", // Regex for Component Factory to use, default to "createReactClass"
      "pragma": "React",  // Pragma to use, default to "React"
      "version": "15.0" // React version, default to the latest React stable release
    }
  },
  "rules": {
    "array-callback-return": "error",
    "no-await-in-loop": "error",
    "object-curly-newline": ["error", { "minProperties": 2 }],
    "brace-style": ["error", "1tbs", {"allowSingleLine": false}],
    "no-return-await": "error",
    "quote-props": ["error", "consistent"],
    "require-await": "error",
    "no-async-promise-executor": "error",
    "no-throw-literal": "warn",
    "no-nested-ternary": "error",
    "no-duplicate-imports": ["error", {"includeExports": false}],
    "indent": ["error", 2],
    "import/first": "error",
    "react/no-find-dom-node": "warn",
    "no-undef": "error",
    "no-unused-vars":"error",
    "no-debugger": "warn",
    "react/prop-types": "error",
    "curly": "error",
    "guard-for-in": "error",
    "semi": ["error", "always", {"omitLastInOneLineBlock": true}],
    "no-console": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/no-unescaped-entities": "off",
    "object-curly-spacing": "error",
    "quotes": ["error", "single", {"allowTemplateLiterals": true}],
    "comma-dangle": ["error", "always-multiline"],
    "keyword-spacing": "error",
    "no-multi-spaces": "error",
    "arrow-body-style": ["error", "as-needed"],
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "never", "asyncArrow": "always"}],
    "no-return-assign": "error",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": ["function", "if", "for", "while", "switch", "try", ] },
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": ["block", "block-like", "multiline-expression"] },
      { "blankLine": "always", "prev": ["block", "block-like", "multiline-expression"]  , "next":["const", "let", "var"]}
  ],
  "no-unused-expressions": "error",
  "func-names":"off",
  "no-underscore-dangle": "off",
  "consistent-return": "error",
  "radix": "off"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  }
}
