[submodule "tC_apps/translationWords"]
    path = tC_apps/translationWords
    url = https://github.com/translationCoreApps/translationWords_Check_plugin.git
[submodule "tC_resources"]
	path = tC_resources
	url = https://github.com/translationCoreApps/tC_Resources
[submodule "tC_apps/wordAlignment"]
	path = tC_apps/wordAlignment
	url = https://github.com/translationCoreApps/word-alignment-tool.git
