# This is a sample environment file.
# If you are a developer you should make a copy of this file named ".env"
# The production environment keys are encrypted in "env.enc" by travis.

TC_HELP_DESK_TOKEN=
BUILD=
