html, body {margin: 0; height: 100%; overflow: hidden}
.burgerBody {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 150%;
	background: #AEB6BF;
	position: relative;
	left:0;
	transition: left 400ms ease;
	-moz-transition: left 400ms ease;
	-webkit-transition: left 400ms ease;
	-o-transition: left 400ms ease;
	-ms-transition: left 400ms ease;
}

.side {
  border: 2px solid grey;
  border-radius: 3px;
  position: fixed;
  text-align: center;
  height: auto;
}
.checkSection {
  border: 2px solid grey;
  border-radius: 3px;
  text-align: center;
  position:relative;
  height: auto;
	min-height: 100%;
}
.tpane {
	max-height: 40vh;
	overflow-y: scroll;
	padding-left: 3;
	padding-right: 3;
}
.checkModule {
  height: auto;
  text-align: center;
  position:relative;
  margin-top: auto;
}
.afterCheck {
  border: 2px solid grey;
  border-radius: 3px;
  height: auto;
  position:relative;
  text-align: center;
  margin: 0;
  padding: 0;
}

.burgerButton{
	float:left;
	padding: auto;
}

.menu{
	background: #5D6D7E;
	position: fixed;
	width: auto;
	height: auto;
	padding: auto;
	z-index: 9999;
	text-decoration:none;
}

.menu a{
	background: #34495E;
	color: #FFF;
	display: block;
	font-size: 16px;
	padding: auto;
	margin-bottom: 1px;
}

.menu a:hover{
	background: black;

}

.btn-group{
  margin: 0px;
  padding: 10px;
  width: 100%;
  border-radius: 0;
}

.well{
  margin-bottom: 0;
}

.confirm-area{
  margin: 10px;
  text-align: center;
}

.next-button{
  float: right;
}

::selection{
  background: yellow;
}

.listhead{
  text-align: center;
  text-decoration: underline;
  font-size: 100%;
}

.verseReference{
  text-align: center;
  color: #000;
}

.verseReference:hover{
  color: #000;
  text-decoration: none;
}
