/*
** Fills the screen, so that the ScrollableSection in
** RootStyles.js works. Every ancestor of the ScrollableSection
** must have the fill-height class
*/
body, html, #content, .fill-height {
  margin: 0;
  overflow: hidden;
  height:100%;
}

body {
  background-color: white;
}

.main-view h1,
.main-view h2,
.main-view h3,
.main-view h4,
.main-view h5,
.main-view h6,
.main-view center,
.main-view div,
.main-view p {
  color: #1f273b;
}

.text-primary-highlighted{
  background-color: yellow;
  font-weight: bold;
}


/*
  TODO:
  This selector is going to give is problems when we have a setting to switch between
  drag to select and click to select. It will need to be moved to a JSX style that we
  can changed based on an api property.

  BUT we cant use psuedo classes within the JSX styling syntax. If anyone finds a way
  to do this that would be great but my research shows that is not possible so we may
  have to go another route.
*/

.TargetVerseSelectionArea::selection{
  background: yellow;
}
