
@import 'colorscheme.css';
/*
** Fills the screen, so that the ScrollableSection in
** RootStyles.js works. Every ancestor of the ScrollableSection
** must have the fill-height class
*/
body, html, #content, .fill-height {
  margin: 0;
  overflow: hidden;
  height:100%;
}

body {
  background-color: var(--reverse-color);
}

.main-view h1,
.main-view h2,
.main-view h3,
.main-view h4,
.main-view h5,
.main-view h6,
.main-view center,
.main-view div,
.main-view p {
  color: #1f273b;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: transparent;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 8px var(--reverse-color);
    border-radius: 12px;
    background: var(--text-color-light);
}

.text-primary-highlighted {
  background-color: var(--highlight-color);
  font-weight: bold;
}

@font-face {
    font-family: Noto Sans;
    src: url(../fonts/NotoSans-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Noto Sans;
    font-style: italic;
    src: url(../fonts/NotoSans-Italic.ttf);
}
@font-face {
    font-family: Noto Sans;
    font-weight: bold;
    src: url(../fonts/NotoSans-Bold.ttf);
}

@font-face {
    font-family: Noto Sans;
    font-style: italic;
    font-weight: bold;
    src: url(../fonts/NotoSans-BoldItalic.ttf);
}

* {
  font-family: Noto Sans;
}

/*
The following .nav, .nav-tabs classes hanlde the styling for the tabs in the
tools. they basically override bootstrap styling for this components
*/

.nav-tabs {
  border-bottom: none;
}

.nav>li>a:hover {
  background-color: var(--accent-color-dark);
  border: none;
  border-radius: 0;
  outline: none;
}

.nav-tabs>li>a {
  color: var(--reverse-color);
  background-color: var(--accent-color-dark);
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  color: var(--accent-color-dark);
  cursor: default;
  background-color: var(--reverse-color);
  outline: none;
  border: none;
  border-radius: 0;
}

.nav-pills {
  border-bottom: 1px solid var(--border-color);
}

.nav-pills>li>a {
  position: relative;
  display: block;
  width: 250px;
  height: 40px;
  color: var(--text-color-light);
  background-color: var(--reverse-color);
  outline: none;
  border-radius: 0;
}

.nav-pills>li>a:hover {
  background-color: var(--reverse-color);
  border: none;
  border-radius: 0;
}

.nav-pills>li.active>a {
  font-weight: 600;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: var(--accent-color-dark);
  background-color: var(--reverse-color);
  border-radius: 0;
  box-sizing: border-box;
}

#table td:nth-child(n+3):nth-child(-n+5) {
  font-style: italic;
}
#table td:nth-child(2) {
    font-weight: bold;
}

#table>tbody>tr>td {
  padding-top: 0;
  padding-bottom: 0;
}
#table td:nth-child(n+1):nth-child(-n+5) {
  padding-top: 15px;
}
#table th {
  font-weight: normal;
}

#table>tbody>tr {
    border-bottom: 1px solid var(--border-color);
}

.btn-prime, .btn-prime:hover, .btn-prime:focus {
    background-color: var(--accent-color-dark);
    background-image: linear-gradient(to bottom, var(--accent-color-dark), var(--accent-color-dark));
    color: var(--reverse-color);
    height: 35px;
    width: 190px;
    border-radius: 0;
    margin: 10px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border: 2px solid var(--accent-color-dark);
    outline: none;
}

.btn-second, .btn-second:hover, .btn-second:focus {
    background-color: var(--reverse-color);
    color: var(--accent-color-dark);
    height: 35px;
    width: 190px;
    border-radius: 0;
    margin: 10px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border: 2px solid var(--accent-color-dark);
    outline: none;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 300px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

