body{
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 150%;
	background: #AEB6BF;
	position: relative;
	left:0;
	transition: left 400ms ease;
	-moz-transition: left 400ms ease;
	-webkit-transition: left 400ms ease;
	-o-transition: left 400ms ease;
	-ms-transition: left 400ms ease;




}

.burgerButton{
	float:left;
	padding: 10px;

}

.menu{
	background: #5D6D7E;
	position: fixed;
	width: 300px;
	height: 100%;
	padding: 20px;
	z-index: 9999;
	right: 0;
	top:0;
	text-decoration:underline;;
}

.menu a{
	background: #34495E;
	color: #FFF;
	display: block;
	font-size: 16px;
	padding: 10px;
	margin-bottom: 1px;
}

.menu a:hover{
	background: black;

}
