html, body {margin: 0; height: 100%; overflow: hidden}
.side {
  border: 2px solid grey;
  border-radius: 3px;
  float: left;
  position: fixed;
  text-align: center;
  height: auto;
}
.check {
  border: 2px solid grey;
  border-radius: 3px;
  text-align: center;
  position:relative;
  height: auto;
}
.tpane {
  height: auto;
  text-align: center;
  position:relative;
  margin-top: auto;
}
.checkModule {
  height: auto;
  text-align: center;
  position:relative;
  margin-top: auto;
}
.afterCheck {
  border: 2px solid grey;
  border-radius: 3px;
  height: auto;
  position:relative;
  text-align: center;
  margin: 0;
  padding: 0;
}

.burgerButton{
	float:left;
	padding: 10px;
}

.menu{
	background: #5D6D7E;
	position: fixed;
	width: 300px;
	height: 100%;
	padding: 20px;
	z-index: 9999;
	right: 0;
	top:0;
	text-decoration:underline;;
}

.menu a{
	background: #34495E;
	color: #FFF;
	display: block;
	font-size: 16px;
	padding: 10px;
	margin-bottom: 1px;
}

.menu a:hover{
	background: black;

}
.btn-group{
  width: 100%;
  border-radius: 0;
}
.well{
  margin-bottom: 0;
}

.confirm-area{
  margin: 10px;
  text-align: center;
}

::selection{
  background: yellow;
}
