
@import 'colorscheme.css';
@import 'BodyContainer.css';
/*
** Fills the screen, so that the ScrollableSection in
** RootStyles.js works. Every ancestor of the ScrollableSection
** must have the fill-height class
*/
body, html, #content, .fill-height {
  margin: 0;
  overflow: hidden;
  height:100%;
}

body {
  background-color: var(--reverse-color);
}

.main-view h1,
.main-view h2,
.main-view h3,
.main-view h4,
.main-view h5,
.main-view h6,
.main-view center,
.main-view div,
.main-view p {
  color: #1f273b;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: transparent;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 8px var(--reverse-color);
    border-radius: 12px;
    background: var(--text-color-light);
}

.text-primary-highlighted {
  background-color: var(--highlight-color);
  font-weight: bold;
}

@font-face {
    font-family: Noto Sans;
    src: url(../fonts/NotoSans-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Noto Sans;
    font-style: italic;
    src: url(../fonts/NotoSans-Italic.ttf);
}
@font-face {
    font-family: Noto Sans;
    font-weight: bold;
    src: url(../fonts/NotoSans-Bold.ttf);
}

@font-face {
    font-family: Noto Sans;
    font-style: italic;
    font-weight: bold;
    src: url(../fonts/NotoSans-BoldItalic.ttf);
}

* {
  font-family: Noto Sans;
}

/*
The following .nav-tabs and .nav-pills classes handle the styling for the tabs in the
main modal. They basically override bootstrap styling for these components
*/

.nav-tabs {
  border-bottom: 1px solid var(--accent-color-dark);
}

.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
  color: var(--reverse-color);
  background-color: var(--accent-color-dark);
  width: 150px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  color: var(--accent-color-dark);
  background-color: var(--reverse-color);
  cursor: default;
  font-weight: bold;
}

.nav-pills {
  border: none;
}

.nav-pills>li>a, .nav-pills>li>a:focus, .nav-pills>li>a:hover {
  color: var(--reverse-color);
  background-color: var(--accent-color);
  width: 225px;
  height: 40px;
  outline: none;
  border-radius: 0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: var(--accent-color);
  background-color: var(--reverse-color);
  cursor: default;
  font-weight: bold;
}

#recentProjects td:nth-child(n+3):nth-child(-n+5) {
  font-style: italic;
  width: 100px;
}
#recentProjects td:nth-child(2) {
    font-weight: bold;
    width: 100px;
}

#recentProjects>tbody>tr>td {
  padding-top: 0;
  padding-bottom: 0;
}
#recentProjects td:nth-child(n+1):nth-child(-n+5) {
  padding-top: 15px;
}
#recentProjects th {
  font-weight: normal;
}

#recentProjects>tbody>tr {
    border-bottom: 1px solid var(--border-color);
}

.btn-prime {
    background-color: var(--accent-color-dark);
    background-image: linear-gradient(to bottom, var(--accent-color-dark), var(--accent-color-dark));
    color: var(--reverse-color);
    height: 35px;
    width: 190px;
    border-radius: 2px;
    margin: 10px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border: 2px solid var(--accent-color-dark);
    outline: none;
}

.btn-prime:enabled:hover, .btn-prime:focus {
    background-color: var(--accent-color-dark);
    background-image: linear-gradient(to bottom, var(--accent-color-dark), var(--accent-color-dark));
    color: var(--reverse-color);
    height: 35px;
    width: 190px;
    border-radius: 2px;
    box-shadow: 0 2px 2px var(--text-color-light);
    margin: 10px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border: 2px solid var(--accent-color-dark);
    outline: none;
}

.btn-prime:disabled, .btn-prime:disabled:hover {
    color: var(--reverse-color);
    cursor: not-allowed;
    opacity: .6;
}

.btn-prime-reverse, .btn-prime-reverse:hover, .btn-prime-reverse:focus {
    background-color: var(--accent-color-dark);
    opacity: 0.6;
    color: var(--reverse-color);
    height: 35px;
    width: 190px;
    border-radius: 0;
    margin: 10px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border: 2px solid var(--accent-color-dark);
    outline: none;
}

.btn-second {
    background-color: var(--reverse-color);
    color: var(--accent-color-dark);
    height: 35px;
    width: 190px;
    border-radius: 2px;
    margin: 10px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border: 2px solid var(--accent-color-dark);
    outline: none;
}

.btn-second:enabled:hover, .btn-second:focus {
    background-color: var(--reverse-color);
    color: var(--accent-color-dark);
    height: 35px;
    width: 190px;
    border-radius: 2px;
    box-shadow: 0 2px 2px var(--text-color-light);
    margin: 10px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border: 2px solid var(--accent-color-dark);
    outline: none;
}

.btn-second:disabled, .btn-second:disabled:hover {
    color: var(--accent-color-dark);
    cursor: not-allowed;
    opacity: .6;
}

.btn-second-reverse, .btn-second-reverse:hover, .btn-second-reverse:focus {
    background-color: var(--accent-color-dark);
    opacity: 0.6;
    color: var(--reverse-color);
    height: 35px;
    width: 190px;
    border-radius: 0;
    margin: 10px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border: 2px solid var(--reverse-color);
    outline: none;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
