/*
** Fills the screen, so that the ScrollableSection in
** RootStyles.js works. Every ancestor of the ScrollableSection
** must have the fill-height class
*/
body, html, #content, .fill-height {
  margin: 0;
  overflow: hidden;
  height:100%;
}

body {
  background-color: white;
}

.main-view h1,
.main-view h2,
.main-view h3,
.main-view h4,
.main-view h5,
.main-view h6,
.main-view center,
.main-view div,
.main-view p {
  color: #1f273b;
}

.text-primary-highlighted{
  background-color: #FDD910;
  font-weight: bold;
}

@font-face {
    font-family: Noto Sans;
    src: url(../fonts/NotoSans-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Noto Sans;
    font-style: italic;
    src: url(../fonts/NotoSans-Italic.ttf);
}
@font-face {
    font-family: Noto Sans;
    font-weight: bold;
    src: url(../fonts/NotoSans-Bold.ttf);
}

@font-face {
    font-family: Noto Sans;
    font-style: italic;
    font-weight: bold;
    src: url(../fonts/NotoSans-BoldItalic.ttf);
}
/*
  TODO:
  This selector is going to give is problems when we have a setting to switch between
  drag to select and click to select. It will need to be moved to a JSX style that we
  can changed based on an api property.

  BUT we cant use psuedo classes within the JSX styling syntax. If anyone finds a way
  to do this that would be great but my research shows that is not possible so we may
  have to go another route.
*/
* {
  font-family: Noto Sans;
}
.TargetVerseSelectionArea::selection{
  background: yellow;
}

/*
The following .nav, .nav-tabs classes hanlde the styling for the tabs in the
tools. they basically override bootstrap styling for this components
*/

.nav-tabs {
  border-bottom: none;
}

.nav>li>a:hover {
  background-color: #C6C4C4;
  border: none;
  outline: none;
}

.nav-tabs>li>a {
  color: white;
  background-color: #747474;
  margin-right: 2px;
  border-radius: 10px 10px 0 0;
  min-width: 75px;
  padding: 10px 15px 28px 15px;
  height: 35px;
  margin-top: 4px;
  border: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  color: #FFFFFF;
  cursor: default;
  background-color: rgb(51, 51, 51);
  border-bottom-color: rgb(51, 51, 51);
  height: 35px;
  outline: none;
  margin-top: 4px;
  border: none;
}

.nav-pills>li>a {
  position: relative;
  display: block;
  padding: 10px 60px;
  color: #ffffff;
  outline: none;
  border-radius: 0px;
}

.nav-pills>li>a:hover {
  background-color: #C6C4C4;
  border: none;
  border-radius: 0px;
}

.nav-pills>li.active>a {
  font-weight: 600;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #333333;
  background-color: #C6C4C4;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 10px 58px;
}

#table tr:nth-child(even) {
    background-color: #747474;
}
#table td:nth-child(n+3):nth-child(-n+5) {
  font-style: italic;
}
#table td:nth-child(2) {
    font-weight: bold;
}
#table td:nth-child(6) {
  background-color: #333;
  padding-left: 0;
  padding-right: 0;
}
#table>tbody>tr>td {
  padding-top: 0px;
  padding-bottom: 0px;
}
#table th {
  font-weight: normal;
}
#table *{
  border-color: transparent
}
