/* a css template for page preview */

@page {
  size: %PS210%mm %PS297%mm; /* A4 */
  margin-top: %PS12%mm;
  margin-left: %PS12%mm;
  margin-bottom: %PS18%mm;

  @footnote {
    float:bottom;
    border-top: black %PX1%px solid;
    padding-top: %PS2%mm;
    font-size: %FS8%px;
  }

  @bottom-center {
    content: counter(page);
    font-size: %FS8%px;
  }

  @top-center {
    content: element(heading);
  }

  @top-right {
    content: none;
  }
}

@page :blank {
  @bottom-center {
    content: none;
  }

  @top-center {
    content: none;
  }

  @top-right {
    content: none;
  }

}

@page :right {
  margin-left: %PS18%mm;
  margin-right: %PS12%mm;
}

@page :left {
  margin-right: %PS18%mm;
  margin-left: %PS12%mm;
}

div.titlePage {
  text-align: center;
}

h1, h2, h3, h4 {
  page-break-after: avoid;
  margin-bottom: %PX2%px;
}

h1 {
  font-size: %FS2%em;
}

h3 {
  font-size: %FS1.17%em;
}

#toc_ul li {
  list-style-type: none;
  overflow-x: hidden;
}

#toc_ul li a {
  text-decoration: none;
  color: #000;
  background-color: white;
  padding-right: %PX6%px;
}

#toc_ul li a::after {
  content: target-counter(attr(href url), page, decimal);
  float: right;
}

#toc_ul li.leader::after {
  content: ".................................................................................................................................................";
  float: left;
  width: 0;
  padding-left: %PX5%px;
  letter-spacing: %PX6%px;
}

#toc_ul li.leader a::after {
  position: absolute;
  right: 0;
  background-color: white;
  padding-left: %PX6%px;
}

.leader {
  font-size: %FS11%px;
}

p.runningHeader {
  position: running(heading);
  font-style: italic;
  font-size: %FS10%px;
}

p.chapN {
  position: running(chapN);
  font-style: italic;
  font-size: %FS10%px;
}

span.footnote {float: footnote; }

div.titlePage {
  page-break-after: recto;
  text-align: center;
}

div.toc {page-break-after: recto}
div.bibleBook {
  page-break-after: recto;
}
div.periph {
  page-break-after: recto;
}
div.introduction_sequence {
  columns: 1;
  font-family: sans-serif;
}
hr {page-break-after: recto}
div.bibleBookBody {
  columns: 2;
  column-gap: %PS2%em;
  widows: 2;
}

div.periphBody {
  columns: 1;
  widows: 2;
}

.toc_periph {font-style: italic}
.toc_level1, .toc_level2, .toc_level3 {margin-top: %PX5%px}
.toc_level1 {
  font-size: %FS14%px;
  font-weight: bold;
}
.toc_level2 {font-size: %FS12%}
.toc_level3 {font-size: %FS10%}

.d {font-style: italic}
.mt, .mt2, .mt3, .imt, .imt2, .imt3 {margin-bottom: %PS1%ex}
.mt, .mt2, .mt3 {text-align: center}
.mt, .imt {font-weight: bold}
.ms, .ms2, .ms3 {}
.r {font-weight: normal; font-style: italic; margin-top: 0; font-size: smaller}
.is, .s {}
.is2, .s2 {}

.ili, .ip, .m, .p, .q, .q2, .q3, .q4 {margin-bottom: %PS0.4%em; margin-top: %PS0.4%em; font-size: %FS10%px;}
.ili, .ip, .m, .p { text-align: justify }
.ili {padding-left: %PS1.5%em; font-size: %FS10%px;}
.io, .io2 {font-size: %FS10%px; font-family: sans-serif}
.io2 {padding-left: %PS1.5%em}
.ior {font-style: italic}
.ip {font-family: sans-serif; font-size: %FS10%px;}
.q, .q1, .pi {padding-left: %PS1.5%em; font-size: %FS10%px;}
.q2 {padding-left: %PS2.5%em; font-size: %FS10%px;}
.q3 {padding-left: %PS3.5%em; font-size: %FS10%px;}
.q4 {padding-left: %PS4.5%em; font-size: %FS10%px;}

.b {font-weight: bold}
.bd {font-weight: bold}
.bk {font-style: italic}
.dc {}
.em {font-style: italic}
.fk {font-style: italic; font-weight: bold}
.fq {font-style: italic}
.fqa {font-style: italic}
.fr {font-weight: bold; font-size: %FS8%}
.ft {}
.fv {}
.it {font-style: italic}
.k {font-weight: bold; font-style: italic}
.nd {font-variant: small-caps}
.ord {font-size: %FS7%px; vertical-align: top}
.pn {}
.qs {font-style: italic; float: right; padding-left: %PS1%em}
.sls {font-style: italic}
.tl {font-style: italic}
.tr {font-size: %FS10%}
.wj {color: #600}
.xt {font-weight: bold}

.chapter {
  padding-left: %PS0.25%em;
  float: right;
  vertical-align: top;
  margin-top:0;
  margin-bottom: 0;
  font-size: %FS24%px;
}
.verses {font-size: %FS7%px; font-weight: bold}
