/*
 set up Awami Nastaliq font support
 */

/* Awami Nastaliq - supports a wide variety of languages of Pakistan that are written with the sloping Nastaliq style. */
@font-face {
  font-family: AwamiNastaliq;
  src: url(./fonts/complexScript/AwamiNastaliq-Regular.woff);
}

/*
  use Awami Nastaliq and fall back to Noto Sans
*/
* {
  font-family: AwamiNastaliq, Noto Sans;
  font-feature-settings: "hehk" 0, "hedo" 1, "cv78" 2, "hamz" 1, "shrt" 1;
  -webkit-font-feature-settings: "hehk" 0, "hedo" 1, "cv78" 2, "hamz" 1, "shrt" 1;
  -moz-font-feature-settings: "hehk" 0, "hedo" 1, "cv78" 2, "hamz" 1, "shrt" 1;
 }
