/*
 set up Padauk font support
 */

/* Padauk - special font for Myanmar (Burmese) */
@font-face {
  font-family: Padauk;
  src: url(./fonts/complexScript/Padauk-Regular.woff);
  font-weight: normal;
}
/* Padauk bold - special font for Myanmar (Burmese) */
@font-face {
  font-family: Padauk;
  src: url(./fonts/complexScript/Padauk-Bold.woff);
  font-weight: bold;
}

/*
  use Padauk and fall back to Noto Sans
*/
* {
  font-family: Padauk, Noto Sans;
  -moz-font-feature-settings: "wtri" 1;
  -webkit-font-feature-settings: "wtri" 1;
  font-feature-settings: "wtri" 1;
}
